.topbar {
  width: 100%;
  height: 80px;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: rgb(11 4 154 / 70%);
  box-shadow: 0 2px 8px rgba(red, green, blue, alpha);
}

.topbarWrapper {
  height: 100%;
  padding: 0px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-weight: bold;
  font-size: 30px;
  color: white;
  cursor: pointer;
}

.topRight{
    display: flex;
    align-items: center;
  }
  
  .topbarIconContainer {
  color: white;
  position: relative;
  cursor: pointer;
  margin-right: 10px;
}

.topIconBadge{
    width: 15px;
    height: 15px;
    position: absolute;
    top: -5px;
    right: 0px;
    background-color: red;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
}

.topAvatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}