.watch {
    width: 100%;
    height: 100vh;

    .back {
        @include flexDirection;
        position: absolute;
        top: 10px;
        left: 10px;
        color: white;
        cursor: pointer;
        z-index: 2;
    }

    video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}